.email-form {
  background: rgb(248, 248, 255);
  overflow-y: auto;
  max-width: 700px;
  margin: 50px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.email-form h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.email-form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.email-form form label {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}

.email-form form input[type="email"],
textarea {
  margin: 0px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.email-form form textarea {
  min-height: 100px;
  resize: vertical;
}

.email-form form button {
  background: #555;
  color: white;
  font-size: 16px;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.email-form form button:hover {
  background: #0056b3;
}

@media screen and (max-width: 768px) {
  .email-form {
    width: 90%;
    padding: 15px;
  }

  .email-form form input[type="email"],
  textarea {
    font-size: 14px;
    padding: 8px;
  }

  .email-form form button {
    font-size: 14px;
    padding: 10px;
  }
}

@media screen and (max-width: 500px) {
  .email-form h2 {
    font-size: 20px;
  }

  .email-form form label {
    font-size: 14px;
  }

  .email-form form button {
    font-size: 14px;
    padding: 10px;
  }
}