.form-container{
    max-width: 100%;
    text-align: center;
    margin: 10px auto;
    padding: 0px 20px;
  }
  
  .form-center{
    width: 100%; 
    max-width: 440px;
    padding: 5px;
    margin: 0px auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  } 
  
  .my-form{
    padding: 10px;
    max-width: 440px;
    background-color: white;  
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin: auto 20px;
  }
  
  .form-container .my-form form {
    display: grid;
    grid-template-columns: auto;
  }
  
  form input {
    height: 41px;
    max-width: 100%;
    margin: 7px;
    padding-left: 10px;
    outline: none;
  }
  form input::placeholder,
  #property-form form .property-flex select {
    text-transform: capitalize;
  }
  form p {
    font-size: 20px;
    opacity: 0.6;
  }
  form a{
    color: orange;
    font-weight: bold;
    cursor: pointer;
  }
  form input[type="submit"] {
    background-color: orange;
    border: none;
    outline: none;
    font-size: 18px;
    color: white;
  }
  .field-password {
    position: relative;
    width: 100%;
  }

  .field-password input {
    width: 96%;
    padding-right: 40px;
    height: 46px;
    padding-left: 10px;
    margin: 7px 0   ;
    box-sizing: border-box;
  }
  .field-icon {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
.forgot-pass{
    text-align: end;
    padding: 10px;
}

.error{
  color: red;
  text-align: start;
  padding-left: 10px;
}
