.table-container{
  width: 100%;
   overflow-x: auto;
}
table {
  width: 100%;
  max-width: 1200px;
  border-collapse: collapse;
  overflow-x: auto;
  margin-top: 20px;
}

th,
td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
  border: 1px solid gray;
  white-space: nowrap;
}

th {
  background-color: #555;
  color: white;
}

table tr:nth-child(odd) {
  background-color: #e0e0e0;
}

.message-column {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

table button {
  width: 100px;
  height: 30px;
  border: 1px solid gray;
  background-color: #555;
  border-radius: 5px;
  color: white;
}

table button a {
  color: white;
  text-decoration: none;
}
.action{
  width: 250px;

}
.action-btn  {
  max-width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  /* padding: 10px; */
}
.action-btn button{
  margin-right: 5px;
  margin-top: 5px;

}

/* @media screen and (max-width: 1150px) {
    table{
    overflow-x: auto;
  }
}

@media screen and (max-width: 992px) {
  table {
    overflow-x: auto;
    white-space: nowrap;
  }
} */